:root,
:root.light {
    --bg: hsl(222, 26%, 31%);
    --keypad-bg: hsl(223, 31%, 20%);
    --screen-bg: hsl(224, 36%, 15%);

    --extra-key-bg: hsl(225, 21%, 49%);
    --extra-key-shadow: hsl(224, 28%, 35%);

    --enter-key-bg: hsl(6, 63%, 50%);
    --enter-key-shadow: hsl(6, 70%, 34%);
    
    --key-bg: hsl(30, 25%, 89%);
    --key-shadow: hsl(28, 16%, 65%);

    --white: hsl(0, 0%, 100%);
}

:root.dark {
    --bg: hsl(0, 0%, 90%);
    --keypad-bg: hsl(0, 5%, 81%);
    --screen-bg: hsl(0, 0%, 75%);

    --extra-key-bg: hsl(45, 7%, 89%);
    --extra-key-shadow: hsl(35, 11%, 61%);

    --enter-key-bg: hsl(25, 98%, 40%);
    --enter-key-shadow: hsl(25, 99%, 27%);
    
    --key-bg: hsl(185, 42%, 37%);
    --key-shadow: hsl(185, 58%, 25%);

    --white: hsl(0, 0%, 0%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);

    font-family: 'Spartan', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.container {
    color: var(--white);
    width: 450px;
    height: 550px;
    margin: 8vh auto;
    display: flex;
    flex-direction: column;
}

.light .container .navbar label {
    text-shadow: 4px 4px black;
}

.dark .container .navbar label {
    text-shadow: 4px 4px rgba(31, 31, 31, 0.274);
}

.container .theme {
    cursor: pointer;
    float: right;
    width: 2.5rem;
    /* border-radius: 20%; */
    background-color: transparent;
    /* background-color: var(--orange-key-shadow); */
}

.container .theme img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.theme.light {
    display: none;
}
  
.dark .theme.dark {
    display: none;
}

.dark .theme.light {
    display: block;
}

.container .screen {
    background: var(--screen-bg);
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 9px;
    margin: 15px 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    box-shadow: 8px 8px rgb(31, 31, 31);
}

.container .screen input {
    width: 90%;
    margin: auto;
    color: var(--white);
    border: none;
    background: none;
    font-size: 34px;
    text-align: end;
}

.keypad {
    width: 100%;
    height: 100%;
    background-color: var(--keypad-bg);

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 8px;

    box-shadow: 8px 8px rgb(31, 31, 31);
}

.keypad .keys {
    width: 90%;
    height: 90%;
    padding-left: 10px;
    list-style: none;

    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.keypad .keys .key {
    width: 85px;
    height: 50px;

    background-color: var(--key-shadow);
    border: none;
    border-radius: 7px;
}

.keypad .keys .key button {
    width: 85px;
    height: 45px;

    padding-top: 7px;

    text-decoration: none;
    text-transform: uppercase;

    border: none;
    border-radius: 7px;

    background-color: var(--key-bg);

    font-family: 'Spartan', sans-serif;
    font-size: 20px;
    font-weight: 700;

    transition: all 200ms ease-in-out;
}

.keypad .keys .key button:hover {
    background: var(--key-shadow);
}

.keypad .keys .key:nth-child(4), .keypad .keys .key:nth-child(17) {
    background: var(--extra-key-shadow);
}

.keypad .keys .key .btn-delete, .keypad .keys .key .btn-reset {
    background-color: var(--extra-key-bg);
    color: var(--white);
}

.keypad .keys .key .btn-delete:hover {
    background: var(--extra-key-shadow);
}

.keypad .keys .key .btn-reset:hover {
    background: var(--extra-key-shadow);
}

.keypad .keys .key .btn-reset {
    width: 100%;
}

.keypad .keys .key .btn-equal {
    width: 100%;
    background: var(--enter-key-bg);
    color: var(--white);
    /* margin-left: 80.2px; */
}

.keypad .keys .key .btn-equal:hover {
    background: var(--enter-key-shadow);
}

.keypad .keys .key:nth-child(17) {
    width: 185%;
}

.keypad .keys .key:nth-child(18) {
    width: 185%;
    background: var(--enter-key-shadow);
    position: relative;
    left: 100px;
}